/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Verdana, sans-serif;
}
.mat-body,
.mat-body-1,
.mat-typography {
  font-family: Verdana, sans-serif;
}

.mat-table {
  font-family: Verdana, sans-serif;
}

.full-size {
  height: 100%;
  width: 100%;
}
