<div class="small-vspace"></div>
<div class="white-border">
  <mat-grid-list cols="2" rowHeight="fit" gutterSize="2%" class="full-size">
    <mat-grid-tile>
      <app-query-runner
        class="full-size"
        [table]="dataset | async"
      ></app-query-runner>
    </mat-grid-tile>
    <mat-grid-tile
      style="border: solid"
      *ngFor="let dataset of datasets; let i = index"
    >
      <mat-grid-tile-header>Hospital {{ i + 1 }}</mat-grid-tile-header>
      <lib-revealer>
        <lib-revealer-label>
          This is the data stored at each hospital. It cannot be seen by anyone.
          <br />
          However for demonstration purposes, you can click to reveal it.
          <br />
        </lib-revealer-label>
        <lib-table-viewer [table]="dataset | async"> </lib-table-viewer>
      </lib-revealer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
