<mat-grid-list cols="2" rowHeight="50%" gutterSize="20">
  <mat-grid-tile
    style="border: solid"
    *ngFor="let dataset of datasets; let i = index"
  >
    <mat-grid-tile-header>Data Provider {{ i + 1 }}</mat-grid-tile-header>
    <lib-dataprovider-viewer
      style="height: 100%; width: 100%; margin-top: 100px"
      [table]="dataset | async"
    >
    </lib-dataprovider-viewer>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-query-runner style="width: 100%; height: 100%"></app-query-runner>
  </mat-grid-tile>
</mat-grid-list>
