.tab-content {
  margin: 5%;
  width: calc(100% - 10%);
}

.tab-content > * {
  margin-bottom: 15px;
}

button {
  width: 100%;
}

.mat-header-cell {
  padding: 5px;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;

}

.mat-cell {
  padding: 5px;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;

}


.form-fields {
  justify-content: space-between;
}
.form-fields > mat-form-field {
  width: 45%;
}

.train {
  margin-bottom: 30px;
}

.settings {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 80px auto;
  column-gap: 10px;
}
.settings span {
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}
.settings .setting-description {
  color: gray;
  text-align: left;
}

mat-progress-bar {
  margin: auto;
  margin-left: 10px;
}
