<mat-tab-group
  [(selectedIndex)]="tabIndex"
  class="mat-tab-fill-height full-size"
>
  <mat-tab label="Explanations">
    <div class="tab-content">
      <p>
        SPINDLE enables some statistics on distributed databases without
        revealing any data. It does so by using a new kind of cryptography,
        allowing to apply common mathematical operation on encrypted data and
        only revealing the result.
      </p>
      <p>
        In this demo, we only show a fraction of SPINDLE, namely the training of
        <a href="https://en.wikipedia.org/wiki/Generalized_linear_model"
          >generalized linear models</a
        >. It is a statistical method to predict the outcome of a given row of
        data, based on a known set of representative values, the dataset.
      </p>
      <p>
        The shown tables are a set of several medical metrics, easily
        measurable, and show if the patient has diabetes. Thus we will be able
        to predict if someone is likely diabetic, or not.
        <br />
        Each table is stored on a separated node, nothing is shared in clear,
        yet, by cooperating with each others, the network can deliver the
        results to you.
      </p>
      <p>
        Now, you can move to the next part, where you will train a model using
        SPINDLE.
      </p>
      <button mat-raised-button color="primary" (click)="nextPage()">
        Next Page
      </button>
    </div>
  </mat-tab>

  <mat-tab label="Train Model">
    <div class="tab-content">
      <p>
        Here, you can train a model using SPINDLE. Each parameter below controls
        some of the modeling process. It isn't a finite computation, rather each
        is a trade-off between accuracy and time.
      </p>

      <form
        [formGroup]="trainForm"
        (ngSubmit)="runTrainRequest()"
        class="form-with-hint"
      >
        <mat-form-field class="train">
          <mat-label> Local iteration count </mat-label>
          <input
            matInput
            type="number"
            min="1"
            formControlName="localIterationCount"
            required
          />
          <mat-hint>
            how many times the model is locally trained before doing a network
            iteration
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="train">
          <mat-label>Network iteration count (epochs)</mat-label>
          <input
            matInput
            type="number"
            min="1"
            formControlName="networkIterationCount"
            required
          />
          <mat-hint>
            how many times the local models are merged with the others
          </mat-hint>
        </mat-form-field>

        <p>
          When you are happy with the settings you selected, you can launch the
          training by clicking on the button below. It will take you to the next
          part where you will be able to actually predict with your trained
          model.
        </p>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!trainForm.valid"
          style="width: 85%"
        >
          Train
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="toggleSettings()"
          style="width: auto"
        >
          <mat-icon>settings</mat-icon>
        </button>

        <div class="settings" *ngIf="settingsOpened">
          <span>Learning rate</span>
          <mat-form-field>
            <input
              matInput
              type="number"
              min="0.01"
              max="1"
              step="0.01"
              formControlName="learningRate"
              required
            />
          </mat-form-field>
          <span class="setting-description">
            how much each local iteration is to be taken into account
          </span>

          <span>Elastic rate</span>
          <mat-form-field>
            <input
              matInput
              type="number"
              min="0.01"
              max="1"
              step="0.01"
              formControlName="elasticRate"
              required
            />
          </mat-form-field>
          <span class="setting-description">
            how much randomness to add at each local iteration
          </span>

          <span>Local batch size</span>
          <mat-form-field>
            <input
              matInput
              type="number"
              min="1"
              formControlName="localBatchSize"
              required
            />
          </mat-form-field>
          <span class="setting-description">
            how many rows to train upon at the same time
          </span>
        </div>
      </form>
    </div>
  </mat-tab>

  <mat-tab label="Predict with a Model">
    <div class="tab-content">
      <p *ngIf="state[0] === 'training' || state[0] === 'train error'">
        Now, we are waiting for SPINDLE to build the model. Each node computes a
        local model based on its dataset. When it did enough local round, a
        network model is created by merging each local ones together. Then a new
        local round is started, merged with the rest of the network, and so on,
        each iteration yielding a better model.
      </p>

      <div *ngIf="state[0] === 'training' || state[0] === 'train error'">
        <ng-container *ngIf="state[0] === 'training'">
          <ng-container *ngIf="state[1] === undefined">
            <div fxLayout>
              Connecting
              <mat-progress-bar mode="buffer"></mat-progress-bar>
            </div>
          </ng-container>
          <ng-container *ngIf="state[1] !== undefined">
            <div fxLayout>
              Local
              <mat-progress-bar
                mode="determinate"
                value="{{ state[1][0] }}"
              ></mat-progress-bar>
            </div>
            <div fxLayout>
              Network
              <mat-progress-bar
                mode="determinate"
                value="{{ state[1][1] }}"
              ></mat-progress-bar>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="state[0] === 'train error'">
          Oops, it seems that an error occurred when training the model:
          {{ state[1].message }}
        </ng-container>
      </div>

      <div
        *ngIf="
          state[0] === 'trained' ||
          state[0] === 'predict error' ||
          state[0] === 'predicted'
        "
      >
        <p>
          The model is now computed and you can use it to know if your patient
          is likely to have diabetes. Simply fill the questionnaire below and
          ask SPINDLE to predict the result.
        </p>

        <p *ngIf="predict === undefined">Loading dataset's columns...</p>
        <form
          [formGroup]="predict.form"
          (ngSubmit)="runPredictRequest()"
          *ngIf="predict !== undefined"
        >
          <mat-form-field *ngFor="let field of predict.fields">
            <mat-label>{{ field.name }}</mat-label>
            <input
              matInput
              type="{{ field.type }}"
              step="{{ field.step }}"
              formControlName="{{ field.name }}"
              required
            />
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!predict.form.valid"
          >
            Predict
          </button>
        </form>
      </div>

      <p>
        <ng-container *ngIf="state[0] === 'predicted'">
          The trained model predicts that the patient is
          <ng-container *ngIf="state[2]"> <b>diabetic</b></ng-container>
          <ng-container *ngIf="!state[2]"> <b>not diabetic</b></ng-container
          >.
        </ng-container>
        <ng-container *ngIf="state[0] === 'predict error'">
          Oops, it seems that an error occurred when predict using the trained
          model: {{ state[2].message }}
        </ng-container>
      </p>

      <p *ngIf="state[0] === 'predicted'">
        If you find that your model is not predicting correctly, try playing
        around with the settings in the previous tab and generate a preciser
        model until you are happy with how it is behaving.
      </p>
    </div>
  </mat-tab>
</mat-tab-group>
