<mat-tab-group [(selectedIndex)]="tabIndex">
  <mat-tab label="train model">
    <div>
      <p>
        below, you can train a
        <!-- TODO link to C4DT knowledge database?  -->
        <a href="https://en.wikipedia.org/wiki/Logistic_regression">
          logistic regression model
        </a>
        across the datasets. then, the trained model is used to predict the
        outcome of the given row.
      </p>
    </div>

    <form
      [formGroup]="queryBuilder"
      (ngSubmit)="runQuery(throwOnUndefined(buildQuery()))"
    >
      <mat-list>
        <mat-list-item>
          <mat-form-field>
            <mat-label>learning rate</mat-label>
            <input
              matInput
              type="number"
              min="0.01"
              max="1"
              step="0.01"
              formControlName="learningRate"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <mat-label>elastic rate</mat-label>
            <input
              matInput
              type="number"
              min="0.01"
              max="1"
              step="0.01"
              formControlName="elasticRate"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <mat-label>local iteration count</mat-label>
            <input
              matInput
              type="number"
              min="1"
              formControlName="localIterationCount"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <mat-label>local batch size</mat-label>
            <input
              matInput
              type="number"
              min="1"
              formControlName="localBatchSize"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <mat-label>network iteration count (epochs)</mat-label>
            <input
              matInput
              type="number"
              min="1"
              formControlName="networkIterationCount"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <mat-label>to predict</mat-label>
            <input matInput type="text" formControlName="toPredict" />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!queryBuilder.valid"
          >
            launch
          </button>
        </mat-list-item>
      </mat-list>
    </form>
  </mat-tab>

  <mat-tab label="result">
    <ng-container *ngIf="state[0] === 'loading'">
      <div><p>training model and predicting</p></div>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </ng-container>

    <ng-container *ngIf="state[0] === 'errored'">
      <div>
        <p>
          error encounter when training model and predicting:
          {{ state[1].message }}
        </p>
      </div>
    </ng-container>

    <ng-container *ngIf="state[0] === 'loaded'">
      <div>
        <p>
          the trained model predicts that the given row's result would be:
          {{ state[1] }}
        </p>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>
