.tab-content {
  margin: 5%;
  width: calc(100% - 10%);
}

.tab-content > *,
.form-with-hint > mat-form-field {
  margin-bottom: 15px;
}

mat-form-field,
button {
  width: 100%;
}

.result-line {
  margin: 10px;
}

mat-progress-bar {
  margin: auto;
  margin-left: 10px;
}
