.tab-content {
  margin: 5%;
  width: calc(100% - 10%);
}

.tab-content > *,
.form-with-hint > mat-form-field {
  margin-bottom: 15px;
}

button,
mat-form-field {
  width: 100%;
}

.settings {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 80px auto;
  column-gap: 10px;
}
.settings span {
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}
.settings .setting-description {
  color: gray;
  text-align: left;
}

mat-progress-bar {
  margin: auto;
  margin-left: 10px;
}
